@use './variaveis';

* {
  font-family: variaveis.$fontPrincipal, sans-serif;
}

main {

  @media (max-width:767px) {
    background-image: linear-gradient(180deg, variaveis.$blue , variaveis.$blue, variaveis.$grey, variaveis.$grey);

    div.container {
      box-shadow: none !important;
      background-image: linear-gradient(180deg, variaveis.$blue , variaveis.$grey);
    }
  }
}

#cadastro {
  @media(max-width:variaveis.$md) {
    padding: 0px;
    width: 100% !important;
  }
  @media (min-width: variaveis.$md) {
    border-left: 1px solid rgba(0, 0, 0, 0.062);
    background-color: variaveis.$grey;
    width: 50%;
  }

  @media(min-width:1240px) {
    padding: 60px;
  }
}


